@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Mooli&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-[Mooli];
  }
}

@layer components {
  .box {
    @apply border-2 border-lgrey;
    box-shadow: 6px 6px #eaf2cf;
    background-color: white;
  }
  .big-box {
    @apply border-2 border-lgrey;
    box-shadow: 12px 12px #eaf2cf;
    background-color: white;
  }
  .button {
    @apply border-2 border-lgrey bg-lgreen;
  }
}
